.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include for-size(mobile) {
    width: 320px;
  }

  @include for-size(tablet) {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }

  @include for-size(desktop) {
    width: 1024px;
    padding-left: 70px;
    padding-right: 70px;
  }
}
