/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './utils/variables';
@import './utils/mixin';

@import './base/reset';
@import './base/body';
@import './base/container';
@import './base/icon';

@import './components/header-main-page';
@import './components/header-library-page';
@import './components/film-container';
@import './components/film-card';
@import './components/modal-film-card';
@import './components/pagination';
@import './components/footer';
@import './components/modal-about-us';
