// text colors
$whiteColor: #ffffff;
$blackColor: #000000;
$footerTextColor: #545454;
$modalAdditionalTextColor: #8c8c8c;

// accent colors
$accentColor: #ff6b08;
$additionalAccentColor: #ff6b01; // кнопки в хедере на странице личного кабинета, рейтинг в списке фильмов в личном кабинете, в модалке с информацией о фильме

// additional colors
$backgroundGrayColor: #f7f7f7;
$errorQueryColor: #ff001b;
