<footer class="footer">
    <div class="footer__info-block container">
        <p class="footer__text">© 2021 | All Rights Reserved |</p>
        <div class="footer__info-block">
            <p class="footer__text">Developed with </p>
            <svg class="footer__psevdo" width=14px height=13px>
                <use href=./images/icons/sprite.svg#icon-heart></use>
            </svg>
            <span class="footer__text">by</span>
            <button data-modal-open type="button" class="button_command">GoIT Students</button>
        </div>

    </div>
</footer>