<section class="section__header">
<div class="header__container">
    <header class="header">
        <h1 class="visually-hidden">hero-heder</h1>
        <nav class="navigation">

            <a href="./index.html" class="header__logo">
                <svg width="24px" height="24px" class="logo">
                <use href="./images/icons/sprite.svg#icon-film"></use>
                </svg>
                <p class="logo__text">Filmoteka</p>
            </a>

            <ul class="header__nav">
                <li class="link link--current"><a href="./index.html">HOME</a></li>
                <li class="link"><a href="./library.html">MY LIBRARY</a></li>
            </ul>

        </nav>

        <form class="search-form">
            <input class="input" type="text" placeholder="Поиск фильмов">
            <svg width="12px" height="12px" class="search-icon">
                <use href="./images/icons/sprite.svg#icon-search"></use>
            </svg>
        </form>
    </header>
</div>
</section>
