<div class="backdrop_command is-hidden" data-modal>
    <div class="modal_command">
        <div class="title_command">
      <button class="modal_command_close" data-modal-close>
      </button>
  </div>
      <div class="content__command">
      <ul class="list-command">
        <li class="item-command">
            <a class="command-item__link" href="https://github.com/heidebloome" target="_blank">
                <img class="command-item__img" src="/images/team/velmozhna.jpg" alt="Vira Velmozhna">
            </a>
            <p class="command-item__about">
                <span class="command-item__name">Vira Velmozhna</span>
            </p>
        </li>
        <li class="item-command">
          <a class="command-item__link" href="https://github.com/YuliaKokhanenko" target="_blank">
              <img class="command-item__img" src="/images/team/kokhanenko.jpg" alt="Yulia Kokhanenko">
          </a>
          <p class="command-item__about">
              <span class="command-item__name">Yulia Kokhanenko</span>
          </p>
      </li>
        <li class="item-command">
            <a class="command-item__link" href="https://www.linkedin.com/in/%D1%81%D0%B5%D1%80%D0%B3%D0%B5%D0%B9-%D0%BA%D0%B0%D0%BF%D0%B8%D1%82%D0%B0%D0%BD%D1%87%D1%83%D0%BA-4536b5198/" target="_blank">
                <img class="command-item__img" src="/images/team/kapitanchuk.jpg" width="150" height="150" alt="Sergey Kapitanchuk">
            </a>
            <p class="command-item__about">
                <span class="command-item__name">Sergey Kapitanchuk</span>
            </p>
        </li>
        <li class="item-command">
            <a class="command-item__link" href="https://github.com/AlexeySapr" target="_blank">
                <img class="command-item__img" src="/images/team/sapr.jpg" alt="Alexey Sapr">
            </a>
            <p class="command-item__about">
                <span class="command-item__name">Alexey Sapr</span>
            </p>
        </li>
    </li>
    <li class="item-command">
        <a class="command-item__link" href="https://github.com/shoorick-kh" target="_blank">
            <img class="command-item__img" src="/images/team/khrapak.jpg" alt="Oleksandr Khrapak">
        </a>
        <p class="command-item__about">
            <span class="command-item__name">Oleksandr Khrapak</span>
        </p>
    </li>
          <li class="item-command">
        <a class="command-item__link" href="https://www.linkedin.com/in/bohdan-sichkaruk-013143219/" target="_blank">
            <img class="command-item__img" src="/images/team/sichkaruk.jpg" alt="Bohdan Sichkaruk">
        </a>
        <p class="command-item__about">
            <span class="command-item__name">Bohdan Sichkaruk</span>
        </p>
    </li>
    <li class="item-command">
        <a class="command-item__link" href="https://github.com/Andrey1Mishchenko" target="_blank">
            <img class="command-item__img" src="/images/team/mishchenko.jpg" alt="Andrey">
        </a>
        <p class="command-item__about">
            <span class="command-item__name">Andrey Mishchenko</span>
        </p>
    </li>
    <li class="item-command">
      <a class="command-item__link" href="https://github.com/MasenkoSS" target="_blank">
          <img class="command-item__img" src="/images/team/masenko.jpg" alt="Sergii Masenko">
      </a>
      <p class="command-item__about">
          <span class="command-item__name">Sergii Masenko</span>
      </p>
  </li>
    </ul>
  </div>
    </div>
  </div>