<div class="backdrop is-hidden" data-modal>
    <div class="modal_window">
        <div class="title">
      <button class="modal_window__close" data-modal-close>
        <svg width="11" height="11">
          <use href="./images/icon/icons.svg#icon-close-button"></use>
        </svg>
      </button>
  </div>
      <div class="content__command">
      <ul class="list-command">
        <li class="item-command">
            <a class="command-item__link" href="https://github.com/heidebloome" target="_blank">
                <img class="command-item__img" src="https://avatars.githubusercontent.com/u/82514400?v=4" width="150" height="150" alt="Vira Velmozhna">
            </a>
            <p class="command-item__about">
                <span class="command-item__name">Vira Velmozhna</span>
            </p>
        </li>
        <li class="item-command">
          <a class="command-item__link" href="https://github.com/YuliaKokhanenko" target="_blank">
              <img class="command-item__img" src="https://avatars.githubusercontent.com/u/80002358?v=4" width="150" height="150" alt="Yulia Kokhanenko">
          </a>
          <p class="command-item__about">
              <span class="command-item__name">Yulia Kokhanenko</span>
          </p>
      </li>
        <li class="item-command">
            <a class="command-item__link" href="https://www.linkedin.com/in/%D1%81%D0%B5%D1%80%D0%B3%D0%B5%D0%B9-%D0%BA%D0%B0%D0%BF%D0%B8%D1%82%D0%B0%D0%BD%D1%87%D1%83%D0%BA-4536b5198/" target="_blank">
                <img class="command-item__img" src="https://media-exp1.licdn.com/dms/image/C4D03AQFcnnizNEmejA/profile-displayphoto-shrink_400_400/0/1574520549893?e=1643241600&v=beta&t=Z3g0js1s-V41cWJM5eN2aS6E3a_NtHHX-tYe3Z_VDsc" width="150" height="150" alt="Sergey Kapitanchuk">
            </a>
            <p class="command-item__about">
                <span class="command-item__name">Sergey Kapitanchuk</span>
            </p>
        </li>
        <li class="item-command">
            <a class="command-item__link" href="https://github.com/AlexeySapr" target="_blank">
                <img class="command-item__img" src="https://avatars.githubusercontent.com/u/59963440?v=4" width="150" height="150" alt="Alexey Sapr">
            </a>
            <p class="command-item__about">
                <span class="command-item__name">Alexey Sapr</span>
            </p>
        </li>
    </li>
    <li class="item-command">
        <a class="command-item__link" href="https://github.com/shoorick-kh" target="_blank">
            <img class="command-item__img" src="./images/team/Oleksandr Khrapak.jpg" width="150" height="150" alt="Oleksandr Khrapak">
        </a>
        <p class="command-item__about">
            <span class="command-item__name">Oleksandr Khrapak</span>
        </p>
    </li>
          <li class="item-command">
        <a class="command-item__link" href="https://www.linkedin.com/in/bohdan-sichkaruk-013143219/" target="_blank">
            <img class="command-item__img" src="https://media-exp1.licdn.com/dms/image/C4E03AQHoPH1oh4Y39A/profile-displayphoto-shrink_400_400/0/1629042423539?e=1643241600&v=beta&t=rSt-4HQGxU4j7ddqRLwQe0NM7rEnyJfMJjIpswpqLbw" width="150" height="150" alt="Bohdan Sichkaruk">
        </a>
        <p class="command-item__about">
            <span class="command-item__name">Bohdan Sichkaruk</span>
        </p>
    </li>
    <li class="item-command">
        <a class="command-item__link" href="https://github.com/Andrey1Mishchenko" target="_blank">
            <img class="command-item__img" src="https://avatars.githubusercontent.com/u/82975366?v=4" width="150" height="150" alt="Andrey">
        </a>
        <p class="command-item__about">
            <span class="command-item__name">Andrey Mishchenko</span>
        </p>
    </li>
    <li class="item-command">
      <a class="command-item__link" href="https://github.com/MasenkoSS" target="_blank">
          <img class="command-item__img" src="https://avatars.githubusercontent.com/u/83786081?s=400&u=c9f0438bad305826857971b0414f347425920919&v=4" width="150" height="150" alt="Sergii Masenko">
      </a>
      <p class="command-item__about">
          <span class="command-item__name">Sergii Masenko</span>
      </p>
  </li>
    </ul>
  </div>
    </div>
  </div>