.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: scroll;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 280px;
  // max-height: 75vh;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 40px;

  overflow-y: auto;

  background-color: $whiteColor;

  @include for-size(before-tablet) {
    max-height: 75%;
  }

  @include for-size(tablet) {
    width: 618px;
    // height: 562px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
  }

  @include for-size(desktop) {
    width: 882px;
    // height: 568px;
  }
}

.modal-content {
  @include for-size(tablet) {
    display: flex;
  }
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  background-color: transparent;

  border: none;
  outline: none;

  .icon {
    stroke: currentColor;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover .icon {
    stroke: $accentColor;
  }
}

.modal__poster-container {
  width: 240px;
  height: 355px;
  margin-bottom: 30px;

  border-radius: 5px;

  overflow: hidden;

  & img {
    width: 100%;
  }

  @include for-size(tablet) {
    width: 265px;
    height: 370px;
    margin-right: 30px;
    margin-bottom: 0;
  }

  @include for-size(desktop) {
    width: 395px;
    height: 475px;
  }
}

.modal__data-container {
  width: 240px;

  @include for-size(tablet) {
    width: 265px;
  }

  @include for-size(desktop) {
    width: 395px;
  }
}

.modal__main-title {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;

  color: $blackColor;

  @include for-size(desktop) {
    font-size: 30px;
    line-height: 1.167;
  }
}

.modal__table {
  margin: 0;
  margin-bottom: 20px;

  &-element:not(:last-child) {
    margin-bottom: 10px;
  }

  &-element {
    display: flex;
    align-items: center;
  }
}

.modal__data-title {
  @include for-size(before-desktop) {
    width: 40%;
  }

  @include for-size(desktop) {
    width: 105px;
  }

  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;

  color: $modalAdditionalTextColor;
}

.modal__data-description {
  width: 60%;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;

  color: $blackColor;

  &--title {
    text-transform: uppercase;
  }

  & &--average {
    padding: 1px 10px;

    font-size: 12px;
    line-height: 1.166;

    border-radius: 5px;

    color: $whiteColor;
    background-color: $additionalAccentColor;
  }

  & &--count {
    padding: 1px 5px;

    font-size: 12px;
    line-height: 1.166;

    border-radius: 5px;

    background-color: $backgroundGrayColor;
  }
}

.modal__annotation-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  text-transform: uppercase;

  color: $blackColor;
}

.modal__annotation-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  margin-bottom: 20px;

  color: $blackColor;
}

.modal__buttons-container {
  display: flex;
}

.button {
  width: 110px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-transform: uppercase;

  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }

  @include for-size(tablet) {
    width: 125px;
  }

  @include for-size(desktop) {
    width: 135px;
  }

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.03);
  }
  &:active {
    transform: scale(1);
  }
}

.modal__watch-list {
  margin-right: 15px;

  color: $whiteColor;
  background-color: $accentColor;
  border: none;
}

.modal__queue-list {
  color: $blackColor;
  background-color: transparent;
  border: 1px solid $blackColor;

  // transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // &:hover {
  //   border: 1px solid $accentColor;
  // }
}
